---
- name: Deploy docker containers
  hosts: home-server-containers
  vars:
    repo_path: "/home/{{ ansible_user }}/homelab"
    host_conf_path: "{{ repo_path }}/hosts/home-server-containers"
    secrets_mapping_file: "{{ host_conf_path }}/secret-mappings.yml"
    github_workdir: "{{ lookup('ansible.builtin.env', 'GITHUB_WORKSPACE') }}"
    docker_data_dir: "/var/lib/docker-data"
  environment:
    PATH: "~/.local/bin:{{ lookup('env', 'PATH') }}"
  tasks:
    - name: Ensure repo is in clean state
      ansible.builtin.git:
        repo: 'https://github.com/Bhambya/homelab.git'
        dest: "{{ repo_path }}"
        version: 'main'
        update: true
        force: false

    - name: Write VPN hosts to /etc/hosts
      become: true
      ansible.builtin.blockinfile:
        path: /etc/hosts
        state: present
        marker: "# {mark} VPN hosts (Ansible managed)"
        block: |
          {% for vm in groups['home_vpn'] %}
          {{ hostvars[vm].vpn_ip }} {{ hostvars[vm].inventory_hostname }}
          {% endfor %}

    - name: "Check {{ docker_data_dir }} directory"
      ansible.builtin.stat:
        path: "{{ docker_data_dir }}"
      become: true
      register: docker_data_stat_result

    - name: Set restore_backup fact
      ansible.builtin.set_fact:
        restore_backup: "{{ (docker_data_stat_result.stat.isdir is not defined or (not docker_data_stat_result.stat.isdir)) | bool }}"

    - name: "Restore latest restic snapshot"
      become: true
      ansible.builtin.command: restic restore latest --no-cache --cleanup-cache --target /
      environment:
        AWS_ACCESS_KEY_ID: "{{ lookup('bitwarden.secrets.lookup', '95843770-ec28-44c4-9ec6-b396010e19b0') }}"
        AWS_SECRET_ACCESS_KEY: "{{ lookup('bitwarden.secrets.lookup', 'c51018bb-8c4b-45a2-8662-b396010e395a') }}"
        RESTIC_PASSWORD: "{{ lookup('bitwarden.secrets.lookup', 'cf687098-8d02-45de-8490-b39000ca755e') }}"
        RESTIC_REPOSITORY: "{{ lookup('bitwarden.secrets.lookup', '2bf4ab81-3dd3-43a9-af0f-b396010d650a') }}"
      when: restore_backup

    - name: Change {{ docker_data_dir }} directory owner
      become: true
      ansible.builtin.file:
        path: "{{ docker_data_dir }}"
        owner: ubuntu
        state: directory
        mode: "750"

    - name: Read secret mapping
      ansible.builtin.slurp:
        src: "{{ secrets_mapping_file }}"
      register: secret_mapping_content

    - name: Parse secret mapping
      ansible.builtin.set_fact:
        secret_mapping: "{{ secret_mapping_content['content'] | b64decode | from_yaml }}"

    - name: Set env_files
      ansible.builtin.set_fact:
        env_files: "{{ secret_mapping['env_files'] | default([]) }}"

    - name: Loop over env_files
      ansible.builtin.include_role:
        name: write_env_file
      loop: "{{ env_files }}"
      loop_control:
        loop_var: env_file
    
    - name: Loop over secret_files
      ansible.builtin.include_role:
        name: write_secret_file
      loop: "{{ secret_mapping['secret_files'] | default([]) }}"
      loop_control:
        loop_var: item

    - name: Copy logrotate files
      become: true
      ansible.builtin.copy:
        src: "{{ github_workdir }}/hosts/home-server-containers/etc/logrotate.d/"  # trailing slash copies the content
        dest: /etc/logrotate.d
        owner: root
        group: root
        mode: '0644'
      notify: Restart logrotate

    - name: Start immich database container
      become: true
      community.docker.docker_compose_v2:
        project_src: "{{ host_conf_path }}/docker"
        state: present
        services:
          - immich_database
        wait: true
        wait_timeout: 300
      when: restore_backup

    - name: Restore latest immich database backup
      ansible.builtin.include_role:
        name: restore_postgres_backup
      vars:
        backup_directory: "{{ docker_data_dir }}/immich/backups"
        container_name: "immich_database"
      when: restore_backup

    - name: Restart services using Docker Compose
      become: true
      community.docker.docker_compose_v2:
        project_src: "{{ host_conf_path }}/docker"
        state: present
        remove_orphans: true
        wait: true
        wait_timeout: 600

    - name: Run Docker Command
      become: true
      ansible.builtin.command: "docker compose ps --format 'table {% raw %}{{.Names}}\t{{.RunningFor}}\t{{.Status}}'{% endraw %}"
      args:
        chdir: "{{ host_conf_path }}/docker"
      register: docker_output

    - name: Display Docker Output
      debug:
        var: docker_output.stdout_lines

    - name: Load cron variables based on environment
      ansible.builtin.include_vars:
        file: "{{ github_workdir }}/hosts/home-server-containers/crons.yml"

    - name: Apply cron role
      become: true
      ansible.builtin.import_role:
        name: manage_crons

  handlers:
    - name: Restart logrotate
      become: true
      ansible.builtin.systemd_service:
        name: logrotate
        state: restarted
